* {
padding:0;
margin: 0;
}

.about {
    width:100%;
    height:auto;
    padding:1%;
}

.biography {
    float: left;
    text-align: center;
    width: 350px;
    height: auto;
    padding-left: 1.5rem;
    color:dimgrey;
    margin-left: 2.5rem;
    margin-top: 1rem;
    line-height: 195%
}

p {
    display:inline-block;
    padding:40px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
 border-left: thick double rgb(188, 159, 149);
}

.bridge {
    float: right;
    opacity: 0.83;
    margin-top: 3rem
    
        
}

.ion-ios-bolt-outline {
    color: black;
    font-size: 1.5rem;
    padding-top: 1rem;
    border-top: 1rem;
    margin-top: 1rem;
}
